h1 {
  margin-left: 5%;
}
.daftar{
  display: inline-block;
  margin-left: 30px;
  margin-top: 20px;
}
.labeldaftar{
  display: inline-block;
}
.content{
  display: inline-block;
}
.btn {
  display: block;
  border-radius: 40px;
  margin: 5% 0% 0%;
  background: white
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.formattabel{
  height: 70%;
  width: 70% ;
  text-align  : center;
}
.formatcell{
  width: 200px ;
  border: 1px solid;
  margin: 0px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


